<div class="domain-pages">
  <% if domain_crawler.crawler_page == nil %>
      <% domain_crawler.crawler_page = CrawlerPage.where(domain_crawler_id: domain_crawler.id).first %>
  <% end %>
<% if domain_crawler.crawler_page != nil %>
      <% crawler_page_ranges = CrawlerRange.where(user_id: current_user.id).order('begin_id asc').map{|range| [range.begin_id, range.end_id]} %>
      <%= render 'domain_crawlers/submenu_crawler_pages', args: {:crawler_page => domain_crawler.crawler_page, :crawler_page_ranges => crawler_page_ranges} %>

<% else %>
    <p>something has gone wrong!!</p>
<% end %>



</div>