<div class="domain-summary">
  <div class="float-left">
    <h3>Domain Summary</h3></div>
  <%= render 'domain_crawlers/showhide', div_name: "domain_summary" %>

  <div class="float-clear" name="domain_summary">

    <!--   <%= render 'domain_crawlers/domain_summary_header' %>-->
    <div>
      <% if current_domain_crawler.crawler_page != nil %>
          <p>Pages:</p>
      <% end %>


      <% DomainCrawler.all.each do |domain_crawler| %>

          <%= render 'domain_crawlers/domain_pages', domain_crawler: domain_crawler %>
      <% end %>
    </div>
  </div>
</div>

<script language="javascript">
  SelectDomain(<%=current_domain_crawler.crawler_page.id%>);
</script>
