<div class="domain-pages">
<% if domain_crawler.crawler_page != nil %>
    <ul id="domain_page_list" name = "ul-crawler-page-1">
      <li>

        <%= render 'expand_buttons', id: domain_crawler.crawler_page.id %>
        <%= render 'url', args: {:url => domain_crawler.short_name, :crawler_page_id => domain_crawler.crawler_page.id} %>
      </li>
      <%= render 'submenu_crawler_pages', args: {:crawler_pages => domain_crawler.crawler_page.root.descendants.arrange, :parent_id => domain_crawler.crawler_page.id } %>
    </ul>
<% else %>
    <p>something has gone wrong: <%= @domain_crawler.id %></p>
<% end %>
</div>