<div class="expand-button" name="expand-button-<%=id%>"
     onclick="expandCrawlerPage(<%=id%>);">+</div>
<div class="contract-button" name="contract-button-<%=id%>"
     onclick="contractCrawlerPage(<%=id%>);">-</div>