<div class="group-expand-button" name="group-expand-button-<%=id%>"
     onclick="expandGroupName(<%=id%>);">+</div>
<div class="group-contract-button" name="group-contract-button-<%=id%>"
     onclick="contractGroupName(<%=id%>);">-</div>