
<div class="show-link" name="show_link_<%=div_name%>" onclick="ShowItem('<%=div_name%>');">show</div>
<div class="hide-link" name="hide_link_<%=div_name%>" onclick="HideItem('<%=div_name%>');">hide</div>