<div class="user-header">
  <div class="dominican-logo"></div>
  <div class="thomas-header"> St. Thomas <br> The Search Engine </div>
  <div class="login-status-div">
  <% if !current_user.guest %>
      Logged in as <%= current_user.email %>. <br>
      <%= link_to "Log Out", logout_path %>
  <% else %>
      <%= link_to "Sign Up", signup_path %> or
      <%= link_to "Log In", login_path %>
  <% end %>
  </div>
</div>