// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.scss.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$crawler-color: #0000ff;
$menu-color: #a593bf;
$menu-block-color:  lighten($menu-color, 10%);
@mixin put-margin($val) {
  margin: $val $val;
}

.sidemenu{
  background-color: $menu-color;


  width: 300px;
  float: left;
  overflow: hidden;
  height:auto;
}
.user-header{
  @include put-margin(10px);
  background-color: $menu-block-color;
}
.domain-crawler{


}
.domain-summary{
  @include put-margin(10px);
  background-color: $menu-block-color;
  overflow: auto;


}

.domain-new{
  @include put-margin(10px);
  background-color: $menu-block-color;
  overflow: auto;

}

.result-groups{
  @include put-margin(10px);
  background-color: $menu-block-color;
  overflow: auto;


}

.search-new{
  @include put-margin(10px);
  background-color: $menu-block-color;
  overflow: auto;

}
.domain-pages{

  overflow:hidden


}
.group-names{

  overflow:hidden


}
.show-link{
  cursor: pointer;
  float: right;
  display: none;
}
.hide-link{
  cursor: pointer;
  float: right;

}
.crawler{
  background-color: $crawler-color;
}
.crawler10d{
  background-color: darken($crawler-color, 10%);
}
.crawler10l{
  background-color: lighten($crawler-color, 10%);
}
.crawler20l{
  background-color: lighten($crawler-color, 20%);
}
.small-box1{background:#ff0;
  width: 12px;
  height: 12px;}
.small-box2{background:#f0f;
  width: 12px;
  height: 12px;}
.small-box3{background:#40f;
  width: 12px;
  height: 12px;}
.small-box4{background:#f04;
  width: 12px;
  height: 12px;}
.small-box5{background:#0ff;
  width: 12px;
  height: 12px;}
h3{
  margin-top:0px;
  margin-bottom:0px;
}
p{
  margin-top:0px;
  margin-bottom:0px;
}
ul{
  margin-top:0px;
  margin-bottom:0px;

}

body {
  background-color:$menu-color;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.float-clear {
  clear: both;
}
.clear-left{
  float: left;
  clear: both;
}
.overflow-auto{
  overflow: auto;
}
.width100pc {
  width: 100%;
}

.width300px {
  width: 300px;
}
.height100pc {
  height: 100%;
}

.height300px {
  height: 300px;
}

.heightdv {
  height: 100vh;
}

.red {
  background-color: #ff0000;
}
.highlight{
  background-color: #ffff00;
}

.green {
  background-color: #00ff00;
}

.blue {
  background-color: #0000ff;
}
.yellow{
  background-color: #ffff00;
}
.margin10{
  margin: 10px 10px;
}
li{

  list-style-type: none;
  &:not(:first-child){
    float: left;
    clear: both;}
  &:first-child{
    clear: both;

  }
  div{
    float: left;
  }
}
ul{
  &:first-child{padding: 5px;}
  &:not(:first-child){padding: 12px;}
}
.main-panel{
  width: -moz-calc(100% - 330px);
  width: -webkit-calc(100% - 330px);
  width: calc(100% - 330px);
  overflow: auto;
  background-color: $menu-block-color;
}
.menu-div{
  overflow: auto;
  width: 100%;
}
.menu-tab{
  margin: 0px 0px 0px 23px;
  background-color: #888888;
  width: 75px;
  float: left;
  cursor: pointer;

}
.move-location-group-name-radio{
  display: none;
}
.add-result{
  display: none;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
}
.remove-group{
  display: none;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
}
#select-group-action{
  border:none;
  background-color: #ffffff;
  overflow:hidden
}

.group-field{
  display: none;
}
#group_notice, #search_notice{

  background-color: #d2e8ff;
  padding: 3px 3px 3px 3px;
  display: none;
}






#domain_page_list, #group_names_list {

  .expand-button {
    margin: 3px 0px 0 0px;
    text-indent: -9999px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    text-align: center;
    background: image-url('tiny_plus_button.png') no-repeat;
  }
  .contract-button {
    margin: 3px 0px 0 0px;
    text-indent: -9999px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    text-align: center;
    background: image-url('tiny_minus_button.png') no-repeat;
    display: none;
  }

  .domain-selector {
    margin: 3px 0px 0px 0px;

    text-indent: -9999px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    text-align: center;

  }
  .domain-url{
    cursor: pointer;

  }
  .group-name{
    cursor: pointer;
  }
}
#group-results{
  display:none;

}
#search-result{

}
.group-search-action-button{
  display:none;
}
.search-action-button{
  display: none;
}
#add_elements_group_id{
  display: none;
}
.main-panel-content{
  background-color: #556474;
}
.crawler_page_name{
  background-color: #72869c;
}
.search-result-outer, .group-search-result-outer{
  background-color: #8a6d9c;
  overflow: auto;
  margin: 0px 0px 5px 0px;
}
.search-result-text, .group-search-result-text{
  background-color: #93adc9;
  margin: 0px 0px 0px 23px;
  width: -moz-calc(100% - 124px);
  width: -webkit-calc(100% - 124px);
  width: calc(100% - 124px);
  float: left;
}
.search-check-box, .group-search-check-box{
  width: 20px;
  float: left;
}
.delete-link{
  padding: 0px 0px 0px 23px;
  a:link{
    color: black;
  }
}
.hidden{
  display: none;
}


